<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  
  <system.serviceModel>
    <client />
    
    <services>
      <service behaviorConfiguration="WCFServiceBehavior" name="ServicioWcfSoapRest.Servicio">
        <endpoint address="soap" behaviorConfiguration="WCFSoapEndpointBehavior"
          binding="basicHttpBinding" name="WCFSoapEndpoint" contract="ServicioWcfSoapRest.IServicioSoap" />
        <endpoint address="rest" behaviorConfiguration="WCFRestEndpointBehavior"
          binding="webHttpBinding" name="WCFRestEndpoint" contract="ServicioWcfSoapRest.IServicioRest" />
      </service>
    </services>
    
    <behaviors>
      <endpointBehaviors>

        <!-- Behavior para el Endpoint de peticiones REST-->
        <behavior name="WCFRestEndpointBehavior">
          <webHttp helpEnabled="true" />
        </behavior>

        <!-- Behavior para el Endpoint de peticiones SOAP-->
        <behavior name="WCFSoapEndpointBehavior" />
        
      </endpointBehaviors>
      <serviceBehaviors>

        <!-- Behavior para el Servicio-->
        <behavior name="WCFServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" /> 
        </behavior>
        
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="True" multipleSiteBindingsEnabled="True"/>
  </system.serviceModel>
  
</configuration>